<template>
  <div>
    <Header />
    <section class="main">
      <div class="main_container">
          <input type="text" v-model="playground.playgroundName" placeholder="Название спорт площадки" class="name inputs">
          <input type="text" v-model="playground.playgroundAddress" placeholder="Адрес" class="address inputs">
          <input type="number" v-model="playground.price" placeholder="Цена" class="price inputs">
          <select v-model="playground.specification.cover" class="type_playground inputs" name="playground_type" id="">
            <option disabled selected>Тип площадки</option>
            <option value="Паркет">Паркет</option>
            <option value="Газон">Газон</option>
          </select>

        <select v-model="playground.sportId" class="type_playground inputs" name="playground_sportType" id="">
          <option disabled selected>Тип спорта:</option>
          <option value="1">Футбол</option>
          <option value="2">Волейбол</option>
          <option value="3">Баскетбол</option>
        </select>

          <div class="schedule">
            <label for="start">
              Открыто с :
              <input v-model="playground.startTime" type="number" >
            </label>

            <label for="start">
              Открыто до :
              <input v-model="playground.closeTime" type="number" >
            </label>
          </div>
          <div class="buttons">
            <button type="button" @click="playground.specification.roofType = 'Открытая' " :class="playground.specification.roofType === 'Открытая' ? 'checked' : ''" class="left">Открытая</button>
            <button type="button" @click="playground.specification.roofType = 'Крытая' " :class="playground.specification.roofType === 'Крытая' ? 'checked' : ''" class="right">Крытая</button>
          </div>

          <ul class="list">
            <li class="list_item">
              <label for="duw">
                <input @click="playground.specification.shower = !playground.specification.shower" type="checkbox" id="duw" class="checkbox">
                <span>Душ</span>
              </label>
            </li>
            <li class="list_item">
              <label for="razd">
                <input @click="playground.specification.dressingRoom = !playground.specification.dressingRoom" type="checkbox" id="razd" class="checkbox">
                <span>Раздевалка</span>
              </label>
            </li>

            <li class="list_item">
              <label for="parking">
                <input @click="playground.specification.parking = !playground.specification.parking" type="checkbox" id="parking" class="checkbox">
                <span>Парковка</span>
              </label>
            </li>

            <li class="list_item">
              <label for="tribune">
                <input @click="playground.specification.tribune = !playground.specification.tribune" type="checkbox" id="tribune" class="checkbox">
                <span>Трибуна</span>
              </label>
            </li>
          </ul>

          <div class="add_img">
            <label for="single">
              <input
                  id="single"
                  type="file"
                  ref="imageUploader"
                  class="input-uploader"
                  @change="imageInserted"
              />
              <p>+</p>
            </label>
            <h1 v-if="choosenImg">{{choosenImg}}</h1>

          </div>
          <button @click="createPlayground" class="send_btn">
            Отправить
          </button>
      </div>
    </section>
  </div>
</template>

<script>
import Header from "@/components/organisms/Header";
import UploadImages from "vue-upload-drop-images"
import api from "@/services/api";

export default {
  name: "AddPlayground",
  components: {
    Header,
    UploadImages,
  },
  data() {
    return {
      choosenImg: null,
      playground: {
        closeTime: "22",
        companyId: 2,
        description: "Playground",
        images: [],
        phone: "87075233816",
        playgroundAddress: "",
        playgroundName: "",
        price: "",
        specification: {
          cover: "Паркет",
          dressingRoom: false,
          height: 0,
          parking: false,
          roofType: "Открытая",
          shower: false,
          tribune: false,
          width: 0
        },
        sportId: 1,
        startTime: "18",
        userId: 1
      },
      files: null,
      isUploading: false,
      uploadedImages: [],
    }
  },
  methods: {
    imageInserted() {
      this.file = this.$refs.imageUploader.files[0];
      this.$refs.imageUploader.value = null;
      this.uploadImageMethod();
    },
    async uploadImageMethod() {
      let formData = new FormData();
      formData.append("file", this.file);
      this.choosenImg = this.file.name;
      this.isUploading = true;
      let { data } = await api.post('https://kelloyn.herokuapp.com/v1/api/images', formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      });

      this.uploadedImage = data.url;
      this.file = null;
      this.isUploading = false;
    },
    createPlayground() {
      this.playground.images[0] = this.uploadedImage;
      console.log('created')
      this.$store.dispatch('createPlayground', this.playground)

    }
  },

}
</script>

<style scoped>
.add_img {

  display: flex;
  align-items: center;
}
.add_img label {
  width: 100px;
  height: 100px;
  background-color: #d3d3d375;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.add_img h1 {
  color: #626262;
}
.add_img p {
  font-size: 70px;
  color: #C4C4C4;
  margin: 0;
  padding: 0;
}
.schedule {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.schedule label {
  display: flex;
  margin-right: 30px;
  align-items: center;
  height: 60px;
}
.schedule label input {
  height: 100%;
  width: 100px;
  text-align: center;
  font-size: 24px;
  border-radius: 12px;
  border: 1px solid #C4C4C4;
  outline: none;
  margin-left: 10px;
}

.uploader-icon {
  width: 50px;
  height: 50px;
}
/*MAIN*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.main_container {
  width: 31%;
  margin-top: 70px;

  height: 70%;
  display: flex;
  flex-direction: column;
}
select {
  color: gray !important;
  outline: none;
}
option[value=""][disabled] {
  color: #7C7C7C !important;
}
option {
  color: black !important;
}
.inputs {
  outline-color: #00AADE;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;

  margin-bottom: 33px;
}

.inputs::placeholder {
  color: #C2C2C2;
}
.buttons {
  display: flex;
}
.buttons button {
  width: 50%;
  outline: none;
  cursor: pointer;
  border: none;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background: #fff;
}
.buttons .left {
  border-radius: 12px 0px 0px 12px;
}
.buttons button.checked {
  background: #00AADE;
  color: #fff;
}
.buttons .right {
  border-radius: 0px 12px 12px 0px;
  color: #00AADE;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list_item label {
  display: flex;
  align-items: center;

}
.list_item label span {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 149.7%;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: #000000;
}
.list_item label input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  width: 22px;
  border-radius: 0 !important;
  height: 22px;
}
input[type="checkbox"] {
  border-radius: 50px !important;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.custom-file-upload img {
  width: 22px;
  height: 22px;
  transform: rotate(-5deg);
  margin-left: 10%;
}

.send_btn {
  background: #00AADE;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px 63px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 149.7%;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  margin: 100px auto 0;
  color: #FAFAFA;
}

@media screen and (max-width: 600px) {
  .main_container {
    width: 90%;
  }
}
</style>
