<template>
  <div>
    <Header />
    <div class="container">
      <div class="login_form">
        <h1 class="login_title">Регистрация компании</h1>
        <input placeholder="Название компании" v-model="company.companyName" type="text" class="name">
        <input placeholder="Эл.почта" v-model="company.email" type="text" class="email">
        <input
            name="phone"
            id="phone"
            v-imask="mask"
            placeholder="Номер телефона"
            class="email"

            @accept="onAccept"
            @complete="onComplete"
        >
        <input type="password" v-model="company.password" placeholder="Придумайте пароль" class="password">
        <input type="password" v-model="company.password2" placeholder="Повторите пароль" class="password">

        <div class="errors">
          <div v-for="(e,i) in errors" :key="i">
            <div>{{e}}</div>
          </div>
        </div>

        <button
            @click="register"
            type="submit"
            class="reg_btn">
          Зарегистрироваться
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import router from "@/router";
import {IMaskComponent, IMaskDirective} from 'vue-imask';
import Header from "@/components/organisms/Header";

export default {
  name: "RegisterCompany",
  components: {
    Header,
    'imask-input': IMaskComponent
  },
  data() {
    return {
      company: {
        email: "",
        companyName: "",
        password: "",
        password2: "",
        phone: "",
        userId: "",
      },
      error: false,
      fromFilled: false,
      errors: [],

      value: '',
      mask: {
        mask: '+7{000} 000 00 00',
        lazy: false
      },
    }
  },
  methods: {
    register() {
      this.errors = []
      if(!this.company.email) {
        this.errors.push("Неверный еmail !")
      }
      if(!this.validEmail(this.company.email)) {
        this.errors.push("Требуется действительный адрес электронной почты !")
      }
      if(!this.company.password || !this.company.password2) {
        this.errors.push("Неверный пароль !")
      }
      if(this.company.password !== this.company.password2) {
        this.errors.push("Пароли не совподают !")
      }
      if(!this.validPassword(this.company.password)) {
        this.errors.push("Требуется действительный пароль !")
      }
      if(!this.errors.length) {
        this.$store.dispatch("registerCompany", {
          companyName: this.company.companyName,
          email: this.company.email,
          password: this.company.password,
          phone: this.company.phone,
          userId: this.$store.state.userInfo.id
        });
        router.push('/addPlayground')
      }
      if (!this.company.companyName) {
        this.errors.push('Требуется указать название компании.');
      }
    },

    validEmail: function (email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    validPassword: function (password) {
      const containsUppercase = /[A-Z]/.test(password)
      const containsLowercase = /[a-z]/.test(password)
      const containsNumber = /[0-9]/.test(password)
      const minLength = password.length > 6
      return containsUppercase && containsLowercase && containsNumber && minLength
    },


    onAccept(e) {
      const maskRef = e.detail;
      this.value = maskRef.value;
      console.log('accept', maskRef.value);
    },
    onComplete(e) {
      const maskRef = e.detail;
      this.company.phone = maskRef.unmaskedValue;
      console.log('complete', maskRef.unmaskedValue);
    },
  },

  directives: {
    imask: IMaskDirective
  }
}

</script>

<style scoped>
.errors {
  margin-left: 0px;
  margin-bottom: 20px;
  color: red
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login_form {
  width: 400px;
  padding: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.login_title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #00AADE;
}
input {
  padding: 14px 26px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 11px;
  outline: none;
}
input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #D6D6D6;
}
.email {
}
.forget_password {
  font-weight: 400;
  font-size: 15px;
  line-height: 149.7%;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 20px;
  color: #00AADE;

  text-align: right;
}
.log_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8E8D8D;
  text-align: center;
}
.log_text span a{
  text-decoration: none;
  color: #00AADE;
}
.reg_btn {
  margin: 0 auto;
  background: #00AADE;
  border-radius: 22px;
  border: none;
  outline: none;

  padding: 10px 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.7%;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: #ffffff;
}
.reg_btn.disabled {
  background: #C4C4C4;
  color: #FAFAFA;
}

@media screen and (max-width: 600px) {
  .login_form {
    width: 70%;
  }
}
</style>
