<template>
  <div class="map">
    <div style="width: 100%">
      <iframe src="https://api-maps.yandex.ru/frame/v1/-/CVh7YBYg?" width="560" height="400" frameborder="0"></iframe>
      {{playgroundMapAddress}}
    </div>
  </div>
</template>

<script>
export default {
  props: ["playgroundAddress"],
  name: "PlaygroundMap",
  data() {
    return {
      playgroundMapAddress: 'https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q='+this.playgroundAddress+'&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&ampoutput=embed'
    }
  }
}
</script>

<style scoped>

</style>
