<template>
  <header class="header" >
    <router-link to="/" class="logo">
      <img src="../../assets/Logo (1).png" alt="">
    </router-link>
    <div class="menu">
      <div @click="show = !show" class="burger_menu">
        <img v-if="!show" src="../../assets/burger.svg" alt="">
        <img v-else src="../../assets/closeMenu.svg" alt="">
      </div>
      <ul class="desktop_menu">
        <div >
          <router-link to="/">Спорт площадки</router-link>
          <a @click="checkUser">Добавить площадку</a>
          <a v-if="userInfo">
            {{ userInfo.firstName === null ? 'UserName' : userInfo.firstName }}
          </a>

          <router-link v-else to="/login"> Войти  </router-link>
        </div>
      </ul>
      <ul class="mobile_menu" v-if="show">
        <div >
          <router-link to="/">Спорт площадки</router-link>
          <a @click="checkUser">Добавить площадку</a>
          <a v-if=" userInfo">
            {{ userInfo.firstName === null ? 'UserName' : userInfo.firstName }}
          </a>

          <router-link v-else to="/login"> Войти  </router-link>
        </div>
      </ul>
    </div>
  </header>
</template>

<script>


import router from "@/router";

export default {
  name: "Header",
  props: ['main'],
  data(){
    return {
      items: [
        {
          id: 1,
          name: 'Спорт площадки',
          path: '/playgrounds'
        },
        {
          id: 2,
          name: 'Добавить площадку',
          path: '/addPlayground',
        },
        {
          id: 3,
          name: 'Войти',
          path: '/login'
        }
      ],
      show: false,
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo;
    },
  },
  methods: {
    checkUser() {
      if(this.$store.state.userInfo) {
        if(this.$store.state.userInfo.company) {
          router.push('/addPlayground')
        }
        else {
          router.push('/registerCompany')
        }
      }
      else {
        router.push('/login')
      }
    }
  },
  mounted() {

  }
}
</script>

<style scoped>
header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  justify-content: space-between;
  background-color: #00AADE;
}
header.active {
  background: #00AADE !important;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;

}
header .menu {
  width: 30%;
  padding-right: 100px;
}
.burger_menu {
  display: none;
}
header .menu ul div{
  justify-content: space-between;
  display: flex;
  list-style: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 30px;
  text-align: center;
}
header .menu ul a {
  cursor: pointer;
  color: #ffffff;
}
.desktop_menu {
}
.mobile_menu {
  display: none;
}

@media screen and (max-width: 826px) {
  header .menu ul {
    font-size: 0.8rem;
    background-color: #00AADE;
  }
  .desktop_menu {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header .menu {
    width: auto;
    padding-right: 40px;
  }

  header .logo {
    padding-left: 40px;
  }
  header .menu .mobile_menu {
    width: 100vw;
    position: fixed;
    display: flex;
    padding: 0;
    left: 0;
    height: 100vh;
  }
  header .menu ul div{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 50px;
    width: 100%;

  }
  .desktop_menu {
    display: none;
  }

  header .menu .burger_menu {
    display: block;
  }
  .burger_menu img {
    filter: invert(-1%) sepia(57%) saturate(6082%) hue-rotate(163deg) brightness(100%) contrast(101%);
  }
}
</style>
