<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #FAFAFA ;
  scroll-behavior: smooth;
}
router-link, a {
  text-decoration: none;
}

</style>
